* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body 
{
     background: linear-gradient(to right, #D9DEA8, #2C6CAA);
}

.form-register 
{
    width: 700px;
    background: #24303c;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 8px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    text-align: center;
}

.form-register h1 
{
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}


.form-register .controls{
    align-content: center;
}


.form-register p 
{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a 
{
    color: white;
    text-decoration: none;
}

.form-register a:hover 
{
    color: white;
    text-decoration: underline;
}

.registroExitoso
{
    text-align: center;
    color: aliceblue;
    padding-top: 10rem;
    font-size: 30px;
}

.terminos
{
    align-content: center;
    text-align: center;
    color: aliceblue;
    padding-top: 10rem;
    font-size: 30px;
}

footer 
{
    background-color: rgba(0, 0, 0, 0.445);
    padding: 10px;
    color: #FFF;
    margin-top: 1rem;
    font-size: 0.8rem;
    text-align: center;
}



